body {
  margin-top: 20px;
}

ul {
  margin-bottom: 0;
  list-style: none;
}

ul li {
  margin-bottom: 0;
  padding: 10px;
}

ul li:hover {
  background: #E1E1E1;
}

.text-center {
  text-align: center;
}

.done {
  text-decoration: line-through;
}

.todo-action {
  border: none;
  padding: 5px;
  line-height: normal;
  margin-bottom: 0;
  margin-top: -20px;
}
