<template name="undoneTodos">
  <h1 class="text-center">Todos</h1>
  {{#if todos.count}}
    <ul>
      {{#each todos}}
        <li>
          <span class="todo-body">{{body}}</span> -
          <button type="button" id="mark-as-done" class="todo-action">(Done)</button>
          <button type="button" id="remove" class="todo-action">(Remove)</button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="no-todos-available text-center">
      There are no Todos to show...
    </div>
  {{/if}}
</template>
